.hero2 {
    width: 100%;
    background: rgba(242, 221, 210, 0.75);
    height: 30vh;
    position: relative;
}

.hero2::before {
    content: "";
    background-image: url(tesselation.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero2 .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}