.btn {
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    color: #111827;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    width: 6rem;
}

.btn:hover{
    color: #000000;
}

.about {
    width: 100%;
    margin: 0rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left {
    text-align: center;
    padding: 5rem;
    max-width: 60rem;
}

.about .left p {
    margin: 1.2rem 0rem;
}

.about .right {
    margin-top: 1.2rem;
    padding-left: 3rem;
    max-width: 30rem;
    justify-content: center;
}

.right .image {
    border: 7px solid #293845;
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    display: inline-block;
    overflow: "hidden",
}
